/*$rojo: red; //Haciendo esto solamente, nos da un error por variable no definida y detiene tarea   
                                    //hay que volver a poner el comando "gulp dev"*/

//TIPOGRAFIA:
$fuente_principal: "monserrat", sans-serif;


//COLORES
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;
